<article class="mb-16 prose dark:prose-invert overflow-auto break-words">
  <% if post.title.present? %>
    <%= link_to post_path(post), class: "no-underline", data: { turbo_frame: "_top" } do %>
      <h1>
        <%= post.title %>
      </h1>
    <% end %>
  <% end %>

  <%= auto_link post.content %>

  <%= link_to post_path(post), class: "no-underline", data: { turbo_frame: "_top" } do %>
    <div class="text-gray-400 text-sm mt-4 mb-4 font-normal" title="<%= post.published_at.to_formatted_s(:long) %>">
      <%= post.published_at.to_date.to_formatted_s(:long) %>
    </div>
  <% end %>
</article>