<div class="max-w-xl w-full mx-auto mt-12">
  <div class="mb-12 pb-4 border-b border-b-slate-300-100 dark:border-b-slate-600 text-black dark:text-slate-100">
    <div class="flex justify-between items-center">
      <%= link_to "@#{@user.username}", user_posts_path(@user.username), class: "font-bold text-lg" %>

      <% if Current.user&.username == "olly" %>
      <div class="text-xs border text-slate-500 dark:text-slate-400 hover:text-slate-800 hover:dark:text-slate-300 dark:border-slate-500 rounded-xl px-2 py-1 hover:bg-slate-100 hover:dark:bg-slate-700">
        <% if logged_in? && @user != Current.user %>
          <%= turbo_frame_tag "#{dom_id(@user)}-follow-button" do %>
            <%= render partial: "users/follow_button", locals: { user: @user } %>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="mt-2 text-sm prose dark:prose-invert text-slate-500 dark:text-slate-400">
      <%= simple_format(auto_link @user.bio) %>
    </div>
  </div>

  <%= render partial: "users/posts/post", collection: @posts, cached: true %>

  <% if @pagy.next %>
    <div class="text-slate-800 dark:text-slate-200">
      <%== pagy_next_html(@pagy, text: "Older", link_extra: 'id="next_link"') %>
    </div>
  <% end %>
</div>
