<% if @blog.user.has_premium_access? %>
  <% content_for :head do %>
    <link href="https://cdn.jsdelivr.net/npm/codemirror@5.65.18/lib/codemirror.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/codemirror@5.65.18/addon/hint/show-hint.css" rel="stylesheet" type="text/css"/>
    <%= stylesheet_link_tag "css-editor" %>
  <% end %>
<% end %>

<%= form_with url: app_settings_appearance_path(@blog), model: @blog do |form| %>
  <div>
    <h3 class="font-bold text-lg mb-2">Colour Scheme</h3>
    <p>
      Choose a colour scheme for your blog.
    </p>
    <%= render "theme_colour", form: form %>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Font</h3>
    <p>
      Choose a font for your blog.
    </p>
    <%= render "theme_font", form: form %>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Content Width</h3>
    <p class="mb-4">
      Choose how wide your blog content should be displayed.
    </p>
    <%= render "layout_width", form: form %>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Layout</h3>
    <p>
      Choose how your posts are displayed on your blog's home page: as a full-content stream, a list of titles, or cards with excerpts.
    </p>

    <%= render "layout_options", form: form %>
  </div>

  <% disabled = !@blog.user.subscribed? %>
  <h3 class="mt-8 font-bold text-lg mb-4">Branding</h3>

  <% if disabled %>
    <div class="mb-4">
      <%= callout(:info) do %>
        <%= link_to "Subscribe", app_settings_subscriptions_path, class: "underline font-medium" %> to hide Pagecord branding from your blog.
      <% end %>
    </div>
  <% end %>

  <div class="flex gap-3 <%= 'opacity-50' if disabled %>">
    <div class="flex h-6 shrink-0 items-center">
      <%= form.check_box :show_branding, { checked: @blog.show_branding, disabled: disabled, class: "form-checkbox h-5 w-5 text-slate-600 border-slate-300 rounded #{disabled ? 'cursor-not-allowed' : 'focus:ring focus:ring-slate-300'}" } %>
    </div>
    <div>
      <%= form.label :show_branding, "Show Pagecord branding", class: "text-slate-800 dark:text-slate-100" %>
      <p class="text-slate-500 text-sm">
        When checked, the Pagecord logo will be displayed at the bottom of each page on your blog. Please consider
        keeping this on to help spread the word about Pagecord!
      </p>
    </div>
  </div>

  <% if @blog.user.has_premium_access? %>
    <fieldset class="mt-8" id="custom-css-section" data-controller="css-editor">
      <h3 class="font-bold text-lg mb-2">Custom CSS</h3>
      <p class="mb-4">
        Add custom CSS to style your blog. This CSS will be inserted into the &lt;head&gt; of your blog pages.
        You can use <code>@import</code> for Google Fonts or Bunny Fonts.
      </p>

      <p class="mb-4 text-sm text-slate-500 italic">
       Custom CSS is an advanced feature. Customer support for creating or debugging custom CSS is not possible - you're on your own with this one! Read <%= link_to "the help guide", "https://help.pagecord.com/custom-css", class: "underline decoration-slate-300 underline-offset-2 hover:text-slate-700 dark:hover:text-slate-300", target: "_blank" %> to get started.
      </p>

      <%= form.text_area :custom_css,
          data: { css_editor_target: "textarea" } %>

      <div class="field-error"><%= @blog.errors[:custom_css].first if @blog.errors[:custom_css].any? %></div>
    </fieldset>
  <% end %>

  <div class="mt-12 flex items-center border-t border-t-slate-200 dark:border-slate-600 pt-4 gap-x-2">
    <%= form.submit "Update", class: "btn-primary" %>
    <%= link_to "Cancel", app_settings_path, class: "btn-secondary" %>
  </div>
<% end %>
