<%= form_with url: sessions_path, model: @user, data: { turbo: false }, class: "space-y-6" do |form| %>
  <div>
    <label class="block text-base font-semibold text-slate-700 dark:text-slate-200 mb-2.5">Blog subdomain</label>
    <div class="flex items-center gap-1.5">
      <%= form.text_field :subdomain,
          placeholder: "subdomain",
          autofocus: true,
          class: "px-3 py-2.5 form-field rounded-lg flex-shrink min-w-0",
          maxlength: 20,
          required: true %>
      <span class="font-medium text-slate-700 dark:text-slate-300 flex-shrink-0">.pagecord.com</span>
    </div>
  </div>

  <div>
    <label class="block text-base font-semibold text-slate-700 dark:text-slate-200 mb-2.5">Password</label>
    <%= form.password_field :password,
        placeholder: "Enter your password",
        required: true,
        class: "w-full sm:w-96 px-3 py-2.5 form-field rounded-lg" %>
    <div class="mt-2 flex items-center gap-2">
      <%= link_to "Log in with email instead.",
          login_path,
          data: { turbo_frame: "login_form" },
          class: "text-sm font-medium underline" %>
      <%= link_to "Forgot password?", new_password_reset_path, data: { turbo_frame: "_top" }, class: "text-sm font-medium underline" %>
    </div>
  </div>

  <div class="mt-8">
    <%= form.submit "Log in", class: "btn-primary" %>
  </div>
<% end %>
