<div class="titlebar mt-4">
  <div class="flex items-top gap-x-4">
    <% show_avatar = @blog.avatar&.attached? %>
    <% if show_avatar %>
    <div class="w-16 h-16 flex flex-shrink-0">
      <%= link_to blog_home_url(@blog) do %>
        <%= image_tag rails_public_blob_url(@blog.avatar), class: "border border-slate-200 dark:border-slate-800 shadow-sm object-cover rounded-full w-16 h-16" %>
      <% end %>
    </div>
    <% end %>

    <div class="w-full">
      <div class="flex items-center <%= show_avatar ? 'justify-end' : '' %> mb-1">
        <div class="font-bold text-lg">
          <%= render "blogs/blog_title" %>
        </div>
      </div>

      <% if current_features.enabled?(:pages) %>
        <% navigation_pages = @blog.pages.navigation_pages.visible.order(:title) %>
        <% if navigation_pages.any? %>
          <ul class="flex flex-wrap <%= show_avatar ? 'justify-end' : '' %> gap-x-4 gap-y-1 text-sm">
            <% navigation_pages.each do |page| %>
              <li>
                <%= link_to page.title, post_path(page), class: "underline" %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</div>