<div class="social-links">
  <div class="flex justify-end items-center gap-x-3">
    <% if @blog.has_custom_home_page? %>
      <div class="flex flex-wrap gap-x-3">
        <% if current_page?(blog_posts_list_path) %>
          <%= link_to "Home", root_path, class: "social-link hover:underline text-sm" %>
        <% else %>
          <%= link_to "Posts", blog_posts_list_path, class: "social-link hover:underline text-sm" %>
        <% end %>
      </div>
    <% end %>

    <% navigation_pages = @blog.pages.navigation_pages.visible.order(:title) %>
    <% if navigation_pages.any? %>
      <div class="flex flex-wrap gap-x-3">
        <% navigation_pages.each do |page| %>
          <%= link_to page.title, post_path(page), class: "social-link hover:underline text-sm" %>
        <% end %>
      </div>
    <% end %>

    <% if @blog.social_links.present? %>
      <div class="flex gap-x-3">
      <% @blog.social_links.each do |social_link| %>
        <%= link_to social_link_url(social_link), class: "social-link", aria: { label: "#{social_link.platform.titleize} Link" } do %>
          <%= inline_svg_tag "icons/social/#{social_link.platform.downcase}.svg", class: "w-4 h-4" %>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>