<%= form_with url: email_subscribers_path_for_domain, model: [EmailSubscriber.new], local: true,
      class: "flex flex-col items-center justify-center gap-y-2 text-center" do |form| %>
  <div class="subscription-description">
    Subscribe to get a weekly digest of posts in your inbox
  </div>

  <fieldset class="flex">
    <%= hidden_field_tag :blog_name, @blog.name %>
    <%= hidden_field_tag :rendered_at, Time.now.to_i %>
    <%= form.email_field :email,
      required: true,
      placeholder: "Enter your email...",
      class: "subscription-email-input px-2 py-1 w-48 sm:w-64 text-sm rounded-l-lg"
    %>
    <%= text_field_tag :email_confirmation, nil, class: "hidden" %>

    <%= form.submit "Subscribe" %>
  </fieldset>
<% end %>