<%= form_with url: email_subscribers_path, model: [EmailSubscriber.new], local: true,
      class: "email-form-container" do |form| %>
  <div class="subscription-description">
    <%= t("email_subscribers.form.subscribe_description.#{@blog.email_delivery_mode}") %>
  </div>

  <fieldset class="form-fieldset">
    <%= hidden_field_tag :blog_name, @blog.subdomain %>
    <%= render "/shared/spam_prevention" %>

    <%= form.email_field :email,
      required: true,
      placeholder: t('email_subscribers.form.email_placeholder'),
      class: "email-input"
    %>

    <%= form.submit t('email_subscribers.form.submit_button') %>
  </fieldset>
<% end %>