<div class="relative hidden" data-toggle-target="element">
  <div class="absolute end-0 z-10 w-56 rounded-md border border-gray-100 dark:border-gray-600 bg-white dark:bg-gray-700 shadow-lg" role="menu">

    <div class="py-2 px-1">
      <div class="p-1">
        <%= link_to "#", class: "flex rounded-lg px-2 py-1 text-sm text-gray-500 dark:text-gray-300 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-600 dark:hover:text-gray-50",
          data: { action: "click->post-attributes#showSection", toggle_target: "published-at" } do %>
          <span class="ms-1">Change Publication Time</span>
        <% end %>
      </div>

      <div class="p-1">
        <%= link_to "#", class: "flex rounded-lg px-2 py-1 text-sm text-gray-500 dark:text-gray-300 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-600 dark:hover:text-gray-50",
          data: { action: "click->post-attributes#showSection", toggle_target: "canonical-url" } do %>
          <span class="ms-1">Set a Canonical URL</span>
        <% end %>
      </div>

      <div class="p-1">
        <%= link_to "#", class: "flex rounded-lg px-2 py-1 text-sm text-gray-500 dark:text-gray-300 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-600 dark:hover:text-gray-50",
          data: { action: "click->post-attributes#showSection", toggle_target: "slug" } do %>
          <span class="ms-1">Change Slug</span>
        <% end %>
      </div>

      <div class="p-1">
        <%= link_to "#", class: "flex rounded-lg px-2 py-1 text-sm text-gray-500 dark:text-gray-300 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-600 dark:hover:text-gray-50",
          data: { action: "click->post-attributes#showSection", toggle_target: "visibility" } do %>
          <span class="ms-1">Change Visibility</span>
        <% end %>
      </div>

      <div class="p-1">
        <%= link_to "#", class: "flex rounded-lg px-2 py-1 text-sm text-gray-500 dark:text-gray-300 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-600 dark:hover:text-gray-50",
          data: { action: "click->post-attributes#showSection", toggle_target: "tags" } do %>
          <span class="ms-1">Add Tags</span>
        <% end %>
      </div>

      <% if @post.persisted? %>
        <hr class="mx-2 mt-2 dark:border-gray-600">

        <div class="flex p-1">
          <%= button_to app_post_path(@post), method: :delete, data: {turbo_confirm: "Are you sure you want to delete this post?"}, title: "Trash this post", class: "flex w-full rounded-lg px-2 py-2 text-sm text-gray-500 dark:text-gray-300 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-600 dark:hover:text-gray-50", form_class: "w-full" do %>
            <%= inline_svg_tag "icons/trash.svg", class: "w-5 h-5" %>
            <span class="ms-1">Delete post</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
