<% is_new = !@post.persisted? %>

<div data-controller="post-attributes autosave"
    data-autosave-key-value="<%= is_new ? "draft-post-new" : "draft-post-#{@post.id}" %>">

  <div class="mb-4"><%= trial_callout("Image uploads") %></div>

  <%= render "email_banner" %>

  <div class="flex items-center justify-end gap-x-2 text-slate-500 dark:text-slate-300 mb-4">
   <div data-controller="toggle">
      <%= link_to "#", class: "font-medium hover:text-black dark:hover:text-slate-50", data: { action: "click->toggle#toggle click@window->toggle#hide" } do %>
          <div class="">
            <%= inline_svg_tag "icons/ellipsis-horizontal-circle.svg", class: "w-7 h-7" %>
          </div>
        <% end %>

        <%= render "drop_down_menu" %>
    </div>
  </div>

  <%= form_with(model: [:app, @post], html: { id: "post-form" }) do |form| %>
    <div class="hidden mb-8" data-post-attributes-target="section" data-section="published-at">
      <div class="mt-4 font-bold">
      <%= form.label :published_at, "Publication Time" %>
      </div>

      <div class="mt-2">
      <%= form.datetime_field :published_at,
          value: @post.published_at&.strftime('%Y-%m-%dT%H:%M'),
          class: "dark:bg-slate-800 border border-slate-300 dark:border-slate-700 text-slate-800 dark:text-slate-200 rounded-lg" %>
      </div>
    </div>

    <div class="<%= 'hidden' unless @post.errors[:slug].any? %> mb-8" data-post-attributes-target="section" data-section="slug">
      <div class="mt-4 font-bold">
      <%= form.label :slug, "Slug" %>
      </div>

      <fieldset class="mt-2">
        <%= form.text_field :slug,
            class: "w-full placeholder-slate-300 dark:placeholder-slate-600 dark:bg-slate-900 border border-slate-300 dark:border-slate-600 text-slate-800 dark:text-slate-200 rounded-lg",
            placeholder: "custom-url-path" %>
        <div class="field-error"><%= @post.errors[:slug].to_sentence if @post.errors[:slug].any? %></div>
      </fieldset>
    </div>

    <div class="hidden mb-8" data-post-attributes-target="section" data-section="canonical-url">
      <div class="mt-4 font-bold">
      <%= form.label :canonical_url, "Canonical URL" %>
      </div>

      <div class="mt-2">
      <%= form.text_field :canonical_url, class: "w-full placeholder-slate-300 dark:placeholder-slate-600 dark:bg-slate-900 border border-slate-300 dark:border-slate-600 text-slate-800 dark:text-slate-200 rounded-lg", placeholder: "https://example-canonical-url.com" %>
      </div>
    </div>

    <div class="<%= 'hidden' unless @post.hidden? %> mb-8" data-post-attributes-target="section" data-section="visibility">
      <div class="mt-4 font-bold">
        Post Visibility
      </div>

      <div class="mt-4 flex gap-3">
        <div class="flex h-6 shrink-0 items-center">
          <%= form.check_box :hidden, class: "form-checkbox h-5 w-5 text-slate-600 border-slate-300 rounded focus:ring focus:ring-slate-300" %>
        </div>
        <div>
          <%= form.label :hidden, "Hide this post on my blog", class: "text-slate-800 dark:text-slate-100" %>
          <p class="text-slate-500 text-sm">
            When checked, this post will not be visible on your blog, but it can accessed via it's link.
          </p>
        </div>
      </div>
    </div>

    <div class="<%= 'hidden' unless @post.tag_list.present? %> mb-8" data-post-attributes-target="section" data-section="tags">
      <div class="mt-4 font-bold">
        <%= form.label :tags_string, "Tags" %>
      </div>

      <div class="mt-2" data-controller="tags-input">
        <%= form.text_field :tags_string,
            class: "w-full",
            data: {
              tags_input_target: "input"
            } %>

        <div class="mt-1 text-xs text-slate-500 dark:text-slate-400">
          Type a tag and press enter to add it. Use letters, numbers, and hyphens only.
        </div>
      </div>
    </div>

    <%= form.text_field :title,
      placeholder: "Optional post title",
      class: "w-full placeholder-slate-300 dark:placeholder-slate-600 dark:bg-slate-900 border border-slate-300 dark:border-slate-600 text-slate-800 dark:text-slate-200 rounded-lg focus:outline-none focus:ring-0 focus:border-slate-500 dark:focus:border-slate-400",
      autofocus: true,
      data: { autosave_target: "title" }
    %>

    <fieldset>
      <% controllers = current_features.enabled?(:lexxy_ios) ? "lexxy ios-toolbar" : "lexxy" %>
      <%= form.rich_text_area :content,
        placeholder: "Craft your draft...",
        class: "lexxy-content mt-4 focus:ring-0 focus:!border-slate-500 dark:focus:!border-slate-400",
        spellcheck: true,
        autocorrect: "on",
        data: { controller: controllers, attachments: Current.user.has_premium_access?, autosave_target: "content" } %>

      <div class="field-error"><%= @post.errors[:content].first if @post.errors[:content].any? %></div>
    </fieldset>

    <div class="flex items-center justify-between mt-8">
      <div>
        <%= form.submit publish_button_text(@post), class: "btn-primary" %>
        <%= link_to (is_new ? "Discard" : "Cancel"),
              app_posts_path(page: session[:return_to_page]),
              class: "btn-secondary",
              data: { action: "click->autosave#cancel" } %>
      </div>
      <div>
        <%= form.button draft_button_text(@post), value: "save_draft", class: "btn-optional" %>
      </div>
    </div>
  <% end %>
</div>
