<div class="flex gap-x-2 mb-2 items-top">
  <div class="text-slate-500 dark:text-slate-400 w-16 flex-shrink-0">
    <%= post.published_at.to_date.to_formatted_s(:short) %>
  </div>
  <div class="flex w-full justify-between items-top">
    <div>
      <%= link_to edit_app_post_path(post, page: params[:page]), title: "Click to edit this post", data: { turbo_frame: "_top", turbo_prefetch: false } do %>
        <div class="font-medium pe-2 hover:underline [overflow-wrap:anywhere]">
          <%= post.display_title %>
        </div>
      <% end %>
      <%= render "tags", post: post %>
    </div>
    <div class="flex items-top gap-x-2 text-slate-400 dark:text-slate-400">
      <% if post.hidden? %>
        <div class="flex items-top">
          <%= inline_svg_tag "icons/eye-slash.svg", class: "w-4 h-4", title: "Private post", aria: { label: "Private post" }, role: "img" %>
        </div>
      <% end %>

      <% if @user.subscribed? && post.upvotes_count > 0 %>
        <div class="flex items-top gap-x-0.5">
          <span class="text-xs"><%= post.upvotes_count %></span>
          <span><%= inline_svg_tag "icons/heart.svg", class: "w-4 h-4" %></span>
          </div>
      <% end %>

      <% if post.draft? || post.pending? %>
        <div>
          <%= link_to app_post_path(post), title: "Preview draft", aria: { label: "Preview draft" }, target: "_blank", data: { turbo_frame: "_top" } do %>
            <%= inline_svg_tag "icons/arrow-top-right-on-square.svg", class: "w-4 h-4" %>
          <% end %>
        </div>
      <% elsif post.published? %>
        <div>
          <%= link_to post_url(post), title: "View this post", aria: { label: "View this post" }, target: "_blank", data: { turbo_frame: "_top" } do %>
            <%= inline_svg_tag "icons/arrow-top-right-on-square.svg", class: "w-4 h-4" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
