<div class="mx-auto max-w-2xl w-full text-slate-950 dark:text-slate-50">
  <div class="my-8">
    <p class="mb-8">
      <% if @posts.empty? %>
        <div class="text-center">
          You'll see your posts here once you start posting ✨
        </div>
      <% else %>
        <%= render "app/shared/callout" do %>
          You have written <%= pluralize @pagy.count, "post" %>. Click on the title to edit an existing post,
          or <%= link_to "create a new post", new_app_post_path, class: "font-medium underline" %>
        <% end %>
      <% end %>
    </p>

    <div class="text-end mb-4">
      <%= link_to "✏️ New Post", new_app_post_path, class: "btn-primary", title: "Start writing a new post" %>
    </div>

    <% @posts.each do |post| %>
      <div class="flex gap-x-4 justify-between px-4 py-4 hover:bg-slate-100 dark:hover:bg-slate-800 rounded-lg break-words">
        <div class="flex flex-col">
          <%= link_to edit_app_post_path(post), title: "Click to edit this post" do %>
            <div class="font-semibold">
              <%= post_title(post) %>
            </div>

            <div class="mt-2 text-xs text-slate-400 dark:text-slate-400">
              <%= post.published_at.to_formatted_s(:long) %>

              <% if @user.subscribed? %>
                <div class="mt-1 flex items-center gap-x-0.5">
                  <%= inline_svg_tag "icons/heart.svg", class: "w-4 h-4" %><%= post.upvotes_count %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="text-slate-400 dark:text-slate-400 ">
          <%= link_to post_path(post), title: "View this post" do %>
            <%= inline_svg_tag "icons/arrow-top-right-on-square.svg", class: "w-5 h-5" %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render "app/shared/pagy_nav" %>
  </div>
</div>
