<div class="mx-auto max-w-2xl w-full text-slate-950 dark:text-slate-50">
  <div class="my-8">
    <p class="mb-8">
      <% if @posts.empty? %>
        <div class="text-center">
          You'll see your posts here once you start posting ✨
        </div>
      <% else %>
        <%= render "app/shared/callout" do %>
          You have written <%= pluralize @pagy.count, "post" %>, listed below. Click the trash icon next to a post to delete it.
        <% end %>
      <% end %>
    </p>

    <% @posts.each do |post| %>
      <div class="px-2 py-4 hover:bg-slate-100 dark:hover:bg-slate-800 rounded-lg">
        <div class="font-semibold">
          <%= link_to post_path(post), title: "Click to view this post" do %>
            <%= post_title(post) %>
          <% end %>
        </div>
        <div class="text-xs text-slate-400 dark:text-slate-400 flex justify-between items-center">
          <div>
            <%= post.published_at.to_formatted_s(:long) %>
          </div>
          <div class="flex ms-2 gap-x-2">
            <%= link_to edit_app_post_path(post), title: "Edit this post" do %>
              <%= inline_svg_tag "icons/edit.svg", class: "w-4 h-4" %>
            <% end %>

            <%= button_to app_post_path(post), method: :delete, data: {turbo_confirm: "Are you sure you want to delete this post?"}, title: "Trash this post" do %>
              <%= inline_svg_tag "icons/trash.svg", class: "w-4 h-4" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= render "app/shared/pagy_nav" %>
  </div>
</div>
