<div class="mx-auto max-w-2xl w-full text-slate-950 dark:text-slate-50">
  <%= render "app/shared/heading" %>
  <%= render "app/shared/nav" %>

  <div class="my-8">
    <p class="mb-8">
      <% if @posts.empty? %>
        <div class="text-center">
          You'll see your posts here once you start posting ✨
        </div>
      <% else %>
        Your <%= pluralize @pagy.count, "post" %> are listed below. Click the trash icon next to a post to delete it.
      <% end %>
    </p>

    <% @posts.each do |post| %>
      <div class="px-2 py-4 hover:bg-slate-100 dark:hover:bg-slate-800 rounded-lg">
        <div class="font-semibold">
          <%= link_to post_path(post), target: "_blank", title: "Click to view this post" do %>
            <%= post_title(post) %>
          <% end %>
        </div>
        <div class="text-xs text-slate-400 dark:text-slate-400 flex justify-between items-center">
          <div>
            <%= post.created_at.to_formatted_s(:long) %>
          </div>
          <div class="ms-2">
            <%= button_to app_post_path(post), method: :delete, data: {turbo_confirm: "Are you sure you want to delete this post?"}, title: "Trash this post" do %>
              <%= inline_svg_tag "icons/trash.svg", class: "w-4 h-4" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="mt-4 flex gap-x-4 justify-end text-slate-800 dark:text-slate-200">
      <% if @pagy.prev %>
        <%== pagy_prev_html(@pagy, text: "Newer") %>
      <% end %>
      <% if @pagy.next %>
        <%== pagy_next_html(@pagy, text: "Older") %>
      <% end %>
    </div>
  </div>
</div>
