<div class="mx-auto max-w-2xl w-full text-slate-950 dark:text-slate-50">
  <div class="pb-2 border-b dark:border-b-slate-400">
  <%= link_to user_posts_path(@user.username) do %>
    <span class="text-lg font-bold">@<%= @user.username %></span>
  <% end %>
  </div>

  <% if @posts.empty? %>
    <p class="mt-8">
      You're all set.
    </p>

    <%= render "how_to" %>

  <% else %>
    <p class="mt-8">
      You have published <%= pluralize @posts.count, "post" %>.
    </p>

    <%= render "how_to" %>

    <div class="mt-8">
      <%= form_with url: app_user_path(Current.user), model: Current.user, data: { controller: "vanish" } do |form| %>
        <div>
        <%= form.text_area :bio, placeholder: "Add a bio to your profile if you like...", class: "w-full dark:bg-slate-800 border border-slate-300 dark:border-slate-700 text-slate-800 dark:text-slate-200 rounded-lg", data: { controller: "autogrow" } %>
        </div>
        <div class="flex justify-between">
          <div id="bio-response" data-vanish-target="response" class="text-sm me-1"></div>
          <%= form.submit "Update bio", class: "underline text-sm cursor-pointer", data: { action: "click->vanish#show" } %>
        </div>
      <% end %>
    </div>

    <div class="mt-8">
    <% @posts.each do |post| %>
      <div class="px-2 py-4 hover:bg-slate-50 dark:hover:bg-slate-800 rounded-lg">
        <div class="font-semibold">
          <%= link_to post_path(post), target: "_blank" do %>
            <%= strip_tags post.content.truncate(140) %>
          <% end %>
        </div>
        <div class="text-xs text-slate-400 dark:text-slate-400 flex justify-between items-center">
          <div>
            <%= post.created_at.to_formatted_s(:long) %>
          </div>
          <div class="ms-2">
            <%= button_to app_post_path(post), method: :delete, data: {turbo_confirm: "Are you sure you want to delete this post?"} do %>
              <%= inline_svg_tag "icons/trash.svg", class: "w-4 h-4" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <div class="mt-8 flex gap-x-4 justify-end text-slate-800 dark:text-slate-200">
      <% if @pagy.prev %>
        <%== pagy_prev_html(@pagy, text: "Newer") %>
      <% end %>
      <% if @pagy.next %>
        <%== pagy_next_html(@pagy, text: "Older") %>
      <% end %>
    </div>
  <% end %>
</div>
