<%= render "blogs/header", hide_email_form: true, hide_bio: !@post.home_page? %>

<div data-controller="media-embeds lightbox">
  <article>
    <% if @post.title.present? %>
      <%= link_to post_url(@post), class: "post-title-link", data: { turbo_frame: "_top" } do %>
        <h1 class="post-title">
          <%= @post.title %>
        </h1>
      <% end %>
    <% end %>

    <div class="lexxy-content" data-controller="syntax-highlight">
      <%= auto_link(process_custom_tags(@post), sanitize: false).html_safe %>
    </div>
  </article>

  <% if @post.post? %>
    <% if @post.tag_list.present? %>
      <%= render "blogs/posts/tags", post: @post %>
    <% end %>

    <footer>
      <%= link_to app_post_path(@post), class: "post-date", data: { turbo_frame: "_top" } do %>
        <%= local_time @post.published_at, format: published_at_date_format %>
      <% end %>
    </footer>
  <% end %>
</div>
