<p>Hi there 👋</p>

<p>Thanks for signing up to Pagecord. Your blog is live at <a href="<%= blog_home_url(@blog) %>"><%= blog_home_url(@blog) %></a>.</p>

<p>The best way to get started is to make it feel like yours.</p>

<p>You can:</p>

<ul>
  <li>pick your colours and typeface</li>
  <li>add custom CSS if you want to go further</li>
  <li>create a home page, About page, or Now page</li>
  <li>publish your first post when you're ready</li>
</ul>

<p>You don't need to get everything perfect first. A simple theme tweak, one page, and one short post is plenty.</p>

<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="padding-top:5px; padding-bottom:5px;">
  <tbody>
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <%= link_to "Set up your blog", app_onboarding_url %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<p>If you'd rather start by writing, you can also post by email from <strong><%= @user.email %></strong> to <strong><%= @blog.delivery_email %></strong>.</p>

<p>The <a href="https://help.pagecord.com">Help Guide</a> is here if you need it.</p>

<p>Just reply if you get stuck. I read every email.</p>

<%= image_tag "signature.jpg", style: "margin-top: 8px; text-align: left; width:120px;" %>

<p>Olly – creator of Pagecord</p>
