<p>Hi there ( * ^ *) ノシ</p>

<p>Thanks so much for signing up to Pagecord!</p>

<p>Your blog is now live at <a href="<%= blog_home_url(@blog) %>"><%= blog_home_url(@blog) %></a>. To create a post, send an email from <strong><%= @user.email %></strong> to <strong><%= @blog.delivery_email %></strong> and Pagecord will do the rest. If you prefer, you can log in and create a post using the in-app editor.</p>

<p>For only $<%= @price %>/year you can unlock Pagecord's premium features such as email subscriptions (an automated email newsletter), custom domain, avatar and reply by email. I think it's the best deal out there and it helps keep Pagecord running!</p>

<p>If you have any questions, feedback or ideas, please drop me an email at <a href="mailto:hello@pagecord.com">hello@pagecord.com</a>. I'd love to know what you think of Pagecord, and I'm always happy to help!</p>

<p>Olly</p>
<p>
  --<br>
  Creator, Pagecord
</p>
