<%= form_with url: signups_path, model: @user, data: { controller: "timezone", turbo: "false" }, class: "mt-8" do |form| %>
  <div class="flex items-center">
    <%= form.fields_for :blog do |blog_form| %>
      <%= blog_form.text_field :subdomain, placeholder: "subdomain", autofocus: true, class: "px-2 py-1 m-0 form-field rounded-sm #{'!border-red-500' if @user.blog.errors[:subdomain].any?}", maxlength: 20, required: true %>
    <% end %>
    <div class="font-semibold">.pagecord.com</div>
  </div>

  <% if has_field_error?(@user.blog, :subdomain) %>
    <%= field_error(@user.blog, :subdomain) %>
  <% else %>
    <div class="text-slate-500 text-xs mt-1">
      The subdomain gives you a unique pagecord URL. It can only contain letters and numbers.
    </div>
  <% end %>

  <div class="mt-4">
    <%= form.email_field :email, placeholder: "you@example.com", required: true, class: "mt-1 px-2 py-1 m-0 form-field rounded-sm #{'!border-red-500' if @user.errors[:email].any?}" %>
    <%= field_error(@user, :email) %>
    <%= render "/shared/spam_prevention" %>
    <%= form.hidden_field :timezone, data: { timezone_target: "timeZone" } %>
  </div>

  <% if ENV["TURNSTILE_ENABLED"] && !Rails.env.development? %>
  <div class="turnstile-widget mt-8">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <div class="cf-turnstile"
      data-sitekey="<%= ENV["TURNSTILE_SITE_KEY"] %>"
      <% if Rails.env.test? %>
      data-action="test"
      <% end %>
      data-theme="light">
    </div>
  </div>
  <% end %>

  <div class="mt-8">
    <%= form.submit "Create account", class: "btn-primary cursor-pointer" %>
  </div>

  <div class="mt-4 flex items-center gap-x-2 text-xs">
    <%= form.checkbox :marketing_consent, class: "h-4 w-4 rounded dark:border-slate-700 dark:bg-slate-800 border-slate-300 text-slate-500 dark:text-slate-500 focus:outline-none focus:ring-0" %>

    <%= form.label :marketing_consent, "Subscribe to the Pagecord mailing list. You can unsubscribe any time!", class: "text-slate-500" %>
  </div>
<% end %>
