<div class="mt-4 flex flex-col gap-y-4">
<% if Current.user.subscribed? %>
  <% if @subscription.complimentary? %>
    <p>You have a free Pagecord Premium subscription! ðŸŽ‰</p>

    <div>
      <%= link_to "â† Back", app_settings_path, class: "btn-primary" %>
    </div>
  <% elsif @subscription.cancelled? %>
    <p>
      Your Pagecord Premium subscription has been scheduled for cancellation on
      <strong><%= @subscription.next_billed_at.to_date.to_formatted_s(:long) %></strong>.
    </p>
    <div class="mt-4">
    <%= button_to "Restart your subscription", "#", class: "paddle_button btn-primary", data: paddle_data %>
    </div>
  <% elsif @subscription.lapsed? %>
    <p>
      Your Pagecord Premium subscription has now lapsed.
    </p>
    <p class="mt-2">
      Renew now to continue enjoying premium features like image attachments, custom domains, and more!
    </p>

    <div class="mt-4">
      <%= button_to "Restart your subscription", "#", class: "paddle_button btn-primary", data: paddle_data %>
    </div>
  <% else %>
    <p>
      ðŸ’³ You are currently subscribed to Pagecord Premium. Thank you! ðŸ’–
    </p>
    <p>
      Your next payment of
      <strong>$<%= @subscription.unit_price / 100 %></strong> will be taken on
      <strong><%= @subscription.next_billed_at.to_date.to_formatted_s(:long) %></strong>.
    </p>

    <div class="mt-2 flex justify-between" data-controller="paddle">
      <%= link_to "Update Card Details", "#", data: { paddle_target: "link", id: @subscription.paddle_subscription_id }, class: "btn-primary" %>
      <%= link_to "Cancel Subscription", cancel_confirm_app_settings_subscriptions_path, class: "btn-danger" %>
    </div>

    <div class="mt-8 flex items-center gap-x-2 pt-4 border-t border-t-slate-200 dark:border-slate-600">
      <%= link_to "Back", app_settings_path, class: "btn-secondary" %>
    </div>
  <% end %>
<% else %>
  <p>
    You're currently on the Pagecord free plan. Please consider upgrading!
  </p>
  <p class="mt-4">
    Premium subscribers get access to <b>image attachments</b>, <b>custom
    domains</b>, <b>email subscribers</b>, <b>reply by email</b> and <b>human customer support</b>! ðŸ’–
  </p>


  <p class="mt-4">
    It's only <strong>$<%= localised_price %>/year!</strong> What are you waiting for? ðŸ˜Š
  </p>

  <div class="mt-4">
    <%= link_to "Upgrade Today!", "#", class: "paddle_button btn-primary", data: paddle_data %>
    <%= link_to "Cancel", app_settings_path, class: "btn-secondary" %>
  </div>
<% end %>