<article class="prose dark:prose-invert overflow-auto break-words">
  <div class="flex flex-col gap-x-2 mb-4">
    <div class="font-semibold">
      @<%= post.blog.subdomain %>
    </div>
    <%= link_to post_path(post), class: "no-underline", data: { turbo_frame: "_top" } do %>
      <span class="text-slate-400 text-sm font-normal">
        <%= local_time post.published_at, format: published_at_date_format %>
      </span>
    <% end %>
  </div>

  <%= render "/blogs/posts/post_title", post: post %>

  <%= safe_auto_link post.content.to_s %>
</article>

<div class="w-64 mx-auto py-8">
  <div class="border-b border-b-slate-100 dark:border-b-slate-700"></div>
</div>
