<article class="prose dark:prose-invert overflow-auto break-words">
  <div class="flex flex-col gap-x-2 mb-4">
    <div class="font-semibold">
      @<%= post.user.username %>
    </div>
    <%= link_to post_path(post), class: "no-underline", data: { turbo_frame: "_top" } do %>
      <span class="text-slate-400 text-sm font-normal" title="<%= post.published_at.to_formatted_s(:long) %>">
        <%= post.published_at.to_date.to_formatted_s(:long) %>
      </span>
    <% end %>
  </div>

  <% if post.title.present? %>
    <%= link_to post_path(post), class: "no-underline", data: { turbo_frame: "_top" } do %>
      <h1>
        <%= post.title %>
      </h1>
    <% end %>
  <% end %>

  <%= auto_link post.content %>
</article>

<div class="w-64 mx-auto py-8">
  <div class="border-b border-b-slate-100 dark:border-b-slate-700"></div>
</div>
