<%# locals: (blog:, size: "md") %>
<% sizes = { "sm" => "w-7 h-7 text-xs", "md" => "w-9 h-9 text-sm" } %>
<% css = sizes[size] %>
<% hue = blog.subdomain.bytes.sum * 37 % 360 %>
<% avatar_classes = "#{css} rounded-full overflow-hidden flex items-center justify-center font-bold text-white shrink-0 ring-1" %>

<% if blog.avatar.attached? %>
  <div class="<%= avatar_classes %> ring-black/10 dark:ring-white/15">
    <%= image_tag resized_image_url(blog.avatar, width: 72, height: 72),
        class: "object-cover w-full h-full", alt: blog.display_name %>
  </div>
<% else %>
  <div class="<%= avatar_classes %> ring-black/10 dark:hidden"
       style="background-color: hsl(<%= hue %>, 50%, 40%)">
    <span><%= blog.subdomain[0].upcase %></span>
  </div>
  <div class="<%= avatar_classes %> ring-white/15 hidden dark:flex"
       style="background-color: hsl(<%= hue %>, 45%, 60%)">
    <span><%= blog.subdomain[0].upcase %></span>
  </div>
<% end %>
