<%= render "app/shared/callout" do %>
  <%= render "app/shared/how_to" %>
<% end %>

<%= turbo_frame_tag "user_form", data: { controller: "vanish" } do %>
  <%= render "form"%>
<% end %>

<hr class="my-8">

<div>
  <h3 class="font-bold text-lg mb-2">Danger Zone</h3>
  <p>
    You can delete your account by clicking the button below. Sorry to see you go!
  </p>

  <%= button_to app_user_path(@user),
        method: :delete,
        data: { turbo_confirm: "Are you absolutely sure? Your account will be incinerated!" },
        class: "btn-danger mt-4" do %>

    Delete account
  <% end %>
</div>
