<p>
  <%= t('replies.mailer.intro') %>, <%= link_to @post.display_title, post_url(@post) %>.
</p>

<div style="background-color: #F3F4F6; padding: 15px; border-radius: 5px; margin: 20px 0;">
  <p>
    <strong><%= t('replies.mailer.from_label') %>:</strong>
    <%= @reply.name %> &lt;<%= @reply.email %>&gt;
  </p>

  <p>
    <strong><%= t('replies.form.subject_label') %>:</strong>
    <%= @reply.subject %>
  </p>

  <p>
    <strong><%= t('replies.form.message_label') %>:</strong>
  </p>

  <div>
    <%= auto_link(simple_format(@reply.message)) %>
  </div>
</div>

<p>
  <%= t('replies.mailer.footer', name: @reply.name) %>
</p>
