<% if @user.errors.any? %>
<div class="rounded-md bg-red-50 p-4 mb-8">
  <div class="flex">
    <div class="flex-shrink-0">
      <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <h3 class="font-medium text-red-800">Urgh. Fix the following errors and have another go.</h3>
      <div class="mt-2 text-red-700">
        <ul role="list" class="list-disc space-y-1 pl-5">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>

<p>
  To create a Pagecord, choose a username and enter your email address.
</p>

<%= form_with model: @user, data: { turbo: "false" }, class: "mt-4" do |form| %>
  <div class="flex">
    <div class="font-semibold">pagecord.com/</div>
    <%= form.text_field :username, placeholder: "username", autofocus: true, class: "p-0 m-0 border-none outline-none focus:ring-0", maxlength: 20, required: true %>
  </div>

  <div class="mt-4">
    <%= form.email_field :email, placeholder: "you@example.com", required: true, class: "p-0 m-0 border-none outline-none focus:ring-0" %>
  </div>

  <div class="mt-8">
    <%= form.submit "Create account", class: "underline cursor-pointer" %>
  </div>
<% end %>
