<div class="mt-8 prose dark:prose-invert">
  <h1 class="text-2xl sm:text-3xl">
  Welcome to Pagecord! ✨
  </h1>

  <p>
    Your blog is now live on the web at <%= link_to blog_home_url(@blog), blog_home_url(@blog), class: "font-semibold underline" %>
  </p>

  <p>
    To help you get started, we're going to set a few things up. You don't need to decide now &ndash; you can change any of this in your Settings area at any time!
  </p>

  <h2 class="text-xl sm:text-2xl">
    Give your blog a custom title
  </h2>

  <p>
    If you like, you can give your blog a different title to <span class="font-bold">@<%= @blog.subdomain %></span>. Just enter it below and click Save.
  </p>

  <%= form_with url: app_onboarding_path, model: @blog,
        data: {
          controller: "save-button",
          action: "turbo:submit-start->save-button#showMessage"
        } do |form| %>
    <%= form.text_field :title, placeholder: "Enter a new title...", class: "w-full dark:bg-slate-800 border border-slate-300 dark:border-slate-700 text-slate-800 dark:text-slate-200 rounded-lg" %>

    <div class="flex items-center gap-x-2">
      <%= form.submit "Save",
        data: {
          save_button_target: "button",
          save_button_message_value: "✅ Saved!"
        },
        class: "mt-2 btn-primary"
      %>
    </div>
  <% end %>

  <h2 class="text-xl sm:text-2xl">
    Add a bio
  </h2>

  <p>
    Your bio will appear at the top of your blog's home page. This is where you'll tell the world all about your blog!
    Emojis and links are recommended! 😊

  <div class="trix-minimal lexxy-minimal">
    <%= form_with url: app_onboarding_path, model: @blog,
          data: {
            controller: "save-button",
            action: "turbo:submit-start->save-button#showMessage"
          } do |form| %>

      <% if current_features.enabled? :lexxy %>
        <%= form.lexxy_rich_text_area :bio,
          placeholder: "add a bio to your profile if you like...",
          class: "lexxy-content min-h-[150px] prose border-slate-300 dark:border-slate-600 text-slate-800 dark:text-slate-200 rounded-lg",
          spellcheck: true,
          autocorrect: "on",
          attachments: false,
          data: { controller: "autogrow", subscribed: false } %>
      <% else %>
        <%= form.rich_text_area :bio,
          placeholder: "add a bio to your profile if you like...",
          class: "trix-content min-h-[150px] border-slate-300 dark:border-slate-600 text-slate-800 dark:text-slate-200 rounded-lg",
          spellcheck: true,
          attachments: false,
          data: { controller: "trix autogrow", subscribed: false } %>
      <% end %>
      <%= form.submit "Save",
        data: {
          save_button_target: "button",
          save_button_message_value: "✅ Saved!"
        },
        class: "mt-2 btn-primary"
      %>
    <% end %>
  </div>

  <h2 class="text-xl sm:text-2xl">
    Pick a colour scheme 🎨
  </h2>
  <p>
    The default is the classic Pagecord minimal monochrome.
  </p>

  <%= form_with url: app_onboarding_path, model: @blog, data: { controller: "radio-button-auto-submit" } do |form| %>
    <%= render "/app/settings/appearance/theme_colour", form: form %>
  <% end %>

  <h2 class="text-xl sm:text-2xl">
    Choose a typeface
  </h2>
  <p>
    Choose whether you'd like a sans-serif font, or serif for that elegant look.
  </p>
  <%= form_with url: app_onboarding_path, model: @blog, data: { controller: "radio-button-auto-submit" } do |form| %>
    <%= render "/app/settings/appearance/theme_font", form: form %>
  <% end %>

  <h2 class="text-xl sm:text-2xl mt-8">
    Choose your blog layout
  </h2>
  <p>
    The default layout for a Pagecord blog is a stream of all your posts on the home page. You can also choose a list of post titles and dates, or cards with excerpts.
  </p>
  <%= form_with url: app_onboarding_path, model: @blog, data: { controller: "radio-button-auto-submit" } do |form| %>
    <%= render "/app/settings/appearance/layout_options", form: form %>
  <% end %>

  <h2 class="text-xl sm:text-2xl mt-8">
    Choose a page width
  </h2>  <p class="mb-4">
    Choose whether you'd like the standard layout, or one that's wider or narrow.
  </p>

  <%= form_with url: app_onboarding_path, model: @blog, data: { controller: "radio-button-auto-submit" } do |form| %>
    <%= render "/app/settings/appearance/layout_width", form: form %>
  <% end %>

  <h2 class="text-xl sm:text-2xl">
    Choose your language
  </h2>
  <p>
    Choose the language for your email subscription form and other interface elements.
  </p>

  <%= form_with url: app_onboarding_path, model: @blog, data: { controller: "select-auto-submit" } do |form| %>
    <%= render "/app/settings/blogs/language_select", form: form %>
  <% end %>

  <h2 class="text-xl sm:text-2xl">
    Create your first post
  </h2>

  <p>
    You can create a blog post in two ways:
  </p>

  <ol>
    <li>
      Send an email from <%= @blog.user.email %> to <%= mail_to @blog.delivery_email, class: "underline font-semibold" %>. Add this email address to your contacts to make it easier to find!
    </li>
    <li>Click on the <span class="no-underline btn-primary px-2 py-1">✏️ New Post</span> button in the <strong>Posts</strong> section.</li>
  </ol>

  <h2 class="text-xl sm:text-2xl">
    Create a custom home page
  </h2>

  <p>
  By default your blog is your home page, but if you'd prefer a separate home page, you can create one by clicking
  the <span class="no-underline btn-primary px-2 py-1">🏠 Create Home Page</span> button in the <strong>Pages</strong> section.
  You can also add dynamic content to your custom home page – find
  out more on <a href="https://blog.pagecord.com/create-a-custom-home-page-for-your-pagecord-blog">this blog post</a>.
  </p>

  <p>
    Ok, time to go and explore the app and get writing!
  </p>

  <div class="flex justify-center">
    <%= button_to complete_app_onboarding_path, class: "text-lg btn-primary my-8" do %>
      Go to your Pagecord admin area →
    <% end %>
  </div>
</div>
