<% is_new = !@page.persisted? %>

<div data-controller="post-attributes autosave"
    data-autosave-key-value="<%= is_new ? "draft-page-new" : "draft-page-#{@page.id}" %>">

  <div class="flex justify-end mb-4" data-controller="toggle">
    <%= link_to "#", class: "ms-3 font-medium text-slate-500 hover:text-black dark:text-slate-300 dark:hover:text-slate-50", data: { action: "click->toggle#toggle click@window->toggle#hide" } do %>
        <div class="">
          <%= inline_svg_tag "icons/ellipsis-horizontal-circle.svg", class: "w-7 h-7" %>
        </div>
      <% end %>

      <div class="relative hidden" data-toggle-target="element">
        <div class="absolute top-7 end-0 z-10 w-56 rounded-md border border-gray-100 dark:border-gray-600 bg-white dark:bg-gray-700 shadow-lg" role="menu">
          <div class="py-2 px-1">
            <div class="p-1">
              <%= link_to "#", class: "flex rounded-lg px-2 py-1 text-sm text-gray-500 dark:text-gray-300 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-600 dark:hover:text-gray-50",
                data: { action: "click->post-attributes#showSection", toggle_target: "slug" } do %>
                <span class="ms-1">Edit URL</span>
              <% end %>
            </div>

            <% if @page.persisted? %>
              <hr class="mx-2 mt-2 dark:border-gray-600">

              <div class="flex p-1">
                <%= button_to app_page_path(@page), method: :delete, data: {turbo_confirm: "Are you sure you want to delete this page?"}, title: "Trash this page", class: "flex w-full rounded-lg px-2 py-2 text-sm text-gray-500 dark:text-gray-300 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-600 dark:hover:text-gray-50", form_class: "w-full" do %>
                  <%= inline_svg_tag "icons/trash.svg", class: "w-5 h-5" %>
                  <span class="ms-1">Delete page</span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>

  <%= form_with(model: @page, url: @page.persisted? ? app_page_path(@page) : app_pages_path, html: { id: "page-form" }) do |form| %>

    <div class="<%= 'hidden' unless @page.errors[:slug].any? %> mb-8" data-post-attributes-target="section" data-section="slug">
      <div class="mt-4 font-bold">
      <%= form.label :slug, "Slug" %>
      </div>

      <div class="mt-2">
        <%= form.text_field :slug,
            class: "w-full placeholder-slate-300 dark:placeholder-slate-600 dark:bg-slate-900 border border-slate-300 dark:border-slate-600 text-slate-800 dark:text-slate-200 rounded-lg #{'!border-red-500' if @page.errors[:slug].any?}",
            placeholder: "custom-url-path" %>
        <% if @page.errors[:slug].any? %>
          <div class="mt-1 text-xs text-red-500">
            <%= @page.errors[:slug].to_sentence %>
          </div>
        <% end %>
      </div>
    </div>

    <%= form.text_field :title,
          placeholder: "Page title",
          class: "w-full placeholder-slate-300 dark:placeholder-slate-600 dark:bg-slate-900 border border-slate-300 dark:border-slate-600 text-slate-800 dark:text-slate-200 rounded-lg focus:outline-none focus:ring-0 focus:border-slate-500 dark:focus:border-slate-400",
          autofocus: true,
          data: { autosave_target: "title" }
           %>

    <% if current_features.enabled? :lexxy %>
      <%= form.lexxy_rich_text_area :content,
        placeholder: "Write your page content...",
        class: "lexxy-content mt-4 focus:ring-0 focus:!border-slate-500 dark:focus:!border-slate-400 #{'!border-red-500' if @page.errors[:content].any?}",
        spellcheck: true,
        data: { controller: "lexxy", attachments: Current.user.subscribed?, autosave_target: "content" } %>
    <% else %>
      <div class="trix-container <%= 'trix-no-attachments' unless Current.user.subscribed? %>">
        <%= form.rich_text_area :content,
          placeholder: "Write your page content...",
          class: "trix-content mt-4 focus:ring-0 focus:!border-slate-500 dark:focus:!border-slate-400 #{'!border-red-500' if @page.errors[:content].any?}",
          spellcheck: true,
        data: { controller: "autogrow trix", subscribed: Current.user.subscribed?, autosave_target: "content" } %>
      </div>
    <% end %>

    <% if @page.errors[:content].any? %>
      <div class="mt-1 text-xs text-red-500">
        A body is required
      </div>
    <% end %>

    <div class="mt-2">
      <label class="flex items-center">
        <%= form.check_box :show_in_navigation,
            class: "rounded border-slate-300 dark:border-slate-600 text-blue-600 focus:ring-blue-500 dark:focus:ring-blue-400 dark:bg-slate-800" %>
        <span class="ml-2 text-sm text-slate-700 dark:text-slate-300">
          Show this page in the blog header navigation 📍
        </span>
      </label>
    </div>

    <div class="flex items-center justify-between mt-8">
      <div>
        <%= form.submit @page.persisted? ? "Update Page" : "Create Page", class: "btn-primary" %>
        <%= link_to "Cancel", app_pages_path, class: "btn-secondary" %>
      </div>
      <div>
        <%= form.button @page.persisted? ? "Save as Draft" : "Save Draft", value: "save_draft", class: "btn-optional" %>
      </div>
    </div>
  <% end %>
</div>
