<%= form_with url: app_settings_user_path(@user), model: @user, data: { turbo: false } do |form| %>
  <div>
    <h3 class="font-bold text-lg mb-2">Bio</h3>

    <div class="trix-container trix-minimal">
    <%= form.rich_text_area :bio,
        placeholder: "add a bio to your profile if you like...",
        class: "trix-content min-h-[150px] prose border-slate-300 dark:border-slate-600 text-slate-800 dark:text-slate-200 rounded-lg",
        data: { controller: "autogrow trix", subscribed: false } %>
    </div>
  </div>

  <% if @user.subscribed? %>
  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Title</h3>
    <p>
      If you'd prefer a different title than <strong>@<%= @user.username %></strong> on your Pagecord,
      enter it below.
    </p>

    <%= form.text_field :title, class: "mt-4 w-full dark:bg-slate-800 border border-slate-300 dark:border-slate-700 text-slate-800 dark:text-slate-200 rounded-lg" %>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Custom Domain</h3>
    <% if @user.valid? && @user.custom_domain.present? %>
      <p>
        Your Pagecord is now available at <code><mark class="bg-slate-100 dark:bg-slate-700 dark:text-slate-100 px-1"><%= @user.custom_domain %></mark></code>
      </p>
    <% else %>
      <p>
        To set up a custom domain, enter it below and click Update. You'll need to configure your DNS first. See <a href="https://pagecord.com/faq#dns" class="font-medium underline">the FAQ</a> for details on how to do that.
      </p>
    <% end %>

    <%= form.text_field :custom_domain, class: "mt-4 w-96 dark:bg-slate-800 border #{@user.errors[:custom_domain].any? ? 'border-red-500' : 'border-slate-300 dark:border-slate-700'} text-slate-800 dark:text-slate-200 rounded-lg" %>
    <% if @user.errors[:custom_domain].any? %>
      <span class="text-red-500 text-sm"><%= @user.errors.full_messages_for(:custom_domain).first %>
    <% end %>

    <% if @user.valid? && @user.custom_domain.present? %>
      <p class="mt-2 text-slate-500 dark:text-slate-400 text-sm">
        To remove your custom domain, clear the box above and click Update. Don't forget to remove the records from your DNS!
      </p>
    <% end %>
  <% end %>


  <div class="mt-8 flex items-center">
    <%= form.submit "Update", class: "btn-primary" %>
    <%= link_to "Cancel", app_settings_path, class: "btn-secondary" %>
  </div>
<% end %>
