<div class="overflow-auto">
  <div>
    Currently hosting <%= pluralize(number_with_delimiter(@pagy.count), "post") %>.
  </div>
  <table class="mt-8 min-w-full divide-y divide-slate-300 dark:divide-slate-700">
    <thead>
      <tr>
        <th class="py-4 pe-4 sm:ps-4 text-left text-sm font-semibold text-slate-900 dark:text-slate-50">Name</th>
        <th class="py-4 pe-4 sm:ps-4 text-left text-sm font-semibold text-slate-900 dark:text-slate-50">Posts</th>
        <th class="py-4 sm:ps-4 text-end text-sm font-semibold text-slate-900 dark:text-slate-50">Created</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-slate-300 dark:divide-slate-700">
    <% @posts.each do |post| %>
      <tr>
        <td class="whitespace-nowrap py-4 pe-4 sm:ps-4 text-sm font-medium text-slate-900 dark:text-slate-50">
          <%= link_to "@#{post.blog.subdomain}", blog_home_url(post.blog), class: "hover:underline" %>
          <% if post.blog.custom_domain.present? %>
            <div class="text-xs font-light text-slate-500 dark:text-slate-400"><%= post.blog.custom_domain %></div>
          <% end %>
        </td>
        <td class="whitespace-wrap py-4 pe-4 sm:ps-4 text-sm text-slate-900 dark:text-slate-50">
          <%= link_to post.display_title, post_url(post), class: "hover:underline" %>
        </td>
        <td class="whitespace-nowrap py-4 sm:ps-4 text-sm text-slate-500 dark:text-slate-400 text-end"><%= post.published_at.to_formatted_s :long %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= render "app/shared/pagy_nav" %>
