<%= render "blogs/header" %>

<div class="form search-form">
  <%= form_with url: blog_search_path, method: :get do %>
    <%= text_field_tag :q, @query, placeholder: "Search posts", autofocus: true %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<% if @query.present? %>
  <% if @posts.empty? %>
    <div class="empty-state">
      <p>No posts found ✨</p>
    </div>
  <% else %>
    <div class="tag-filter-notice">
      <p><%= pluralize(@pagy.count, "post") %> matching <strong><%= @query %></strong></p>
    </div>

    <div class="title_layout">
      <%= render "blogs/posts/title_layout" %>
    </div>
  <% end %>
<% end %>
