<%= form_with url: app_settings_blog_path(@blog), model: @blog, data: { controller: "avatar" } do |form| %>
  <div>
    <h3 class="font-bold text-lg mb-2">Bio</h3>

    <div class="trix-container trix-minimal">
    <%= form.rich_text_area :bio,
        placeholder: "add a bio to your profile if you like...",
        class: "trix-content min-h-[150px] prose border-slate-300 dark:border-slate-600 text-slate-800 dark:text-slate-200 rounded-lg",
        data: { controller: "autogrow trix", subscribed: false } %>
    </div>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Title</h3>
    <p>
      If you'd prefer a different title than <strong>@<%= @blog.name %></strong> on your Pagecord,
      enter it below.
    </p>

    <%= form.text_field :title, class: "mt-4 w-full dark:bg-slate-900 border border-slate-300 dark:border-slate-700 text-slate-800 dark:text-slate-200 rounded-lg" %>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Layout</h3>
    <p>
      Would you like your blog home page to be a stream of posts, or a list of titles?
    </p>

    <%= render "layout_options", form: form %>
  </div>

  <% if @blog.user.subscribed? %>
  <h3 class="mt-8 font-bold text-lg mb-2">Avatar</h3>
  <p>
    <% if @blog.avatar&.attached? %>
      Click the image to select a new avatar, or click 'Remove' to delete the existing one.
    <% else %>
      If you'd like to include an avatar image on your home page, click the icon to select then
      click the Update button below.
    <% end %>
  </p>

  <div class="mt-4 text-start flex flex-col" id="blog-avatar">
    <a href="#" data-action="click->avatar#open" title="Update your avatar">
      <%= render "avatar", blog: @blog %>
    </a>
    <% if @blog.avatar&.attached? %>
      <%= link_to app_blog_avatar_path(@blog), data: { turbo_method: :delete }, class: "flex items-center text-sm text-slate-500 hover:text-slate-800 dark:text-slate-400 hover:dark:text-slate-200 p-0 mt-1" do %>
        <%= inline_svg_tag "icons/trash.svg", class: "w-4 h-4 me-1 " %>
        Remove
      <% end %>
    <% end %>
  </div>

  <%= form.file_field :avatar, class: "hidden", accept: "image/jpeg, image/png, image/webp", data: { avatar_target: "input" } %>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Custom Domain</h3>
    <% if @blog.valid? && @blog.custom_domain.present? %>
      <p>
        Your Pagecord is now available at <code><mark class="bg-slate-100 dark:bg-slate-700 dark:text-slate-100 px-1"><%= @blog.custom_domain %></mark></code>
      </p>
    <% else %>
      <p>
        To set up a custom domain, enter it below and click Update. You'll need to configure your DNS first. See <a href="https://pagecord.com/faq#dns" class="font-medium underline">the FAQ</a> for details on how to do that.
      </p>
    <% end %>

    <%= form.text_field :custom_domain, class: "mt-4 w-96 dark:bg-slate-900 border #{@blog.errors[:custom_domain].any? ? 'border-red-500' : 'border-slate-300 dark:border-slate-700'} text-slate-800 dark:text-slate-200 rounded-lg" %>
    <% if @blog.errors[:custom_domain].any? %>
      <span class="text-red-500 text-sm"><%= @blog.errors.full_messages_for(:custom_domain).first %></span>
    <% end %>

    <% if @blog.valid? && @blog.custom_domain.present? %>
      <p class="mt-2 text-slate-500 dark:text-slate-400 text-sm">
        To remove your custom domain, clear the box above and click Update. Don't forget to remove the records from your DNS!
      </p>
    <% end %>
  <% end %>

  <div class="mt-8" data-controller="social-links">
    <h3 class="font-bold text-lg mb-2">Social Links</h3>
    <p>
      Add links to your social profiles to display them on your Pagecord.
    </p>

    <div data-social-links-target="addLink" class="mt-8 ">
      <%= link_to "Add Link", "#", class: "btn-primary mb-4", data: { action: "click->social-links#addLink" } %>
    </div>

    <template data-social-links-target="template">
      <%= form.fields_for :social_links, SocialLink.new, child_index: 'TEMPLATE_RECORD' do |social_link_form| %>
        <%= render "social_links_form", form: social_link_form %>
      <% end %>
    </template>

    <%= form.fields_for :social_links do |social_link_form| %>
      <%= render "social_links_form", form: social_link_form %>
    <% end %>
  </div>

  <div class="mt-8 flex items-center border-t border-t-slate-200 dark:border-slate-600 pt-4">
    <%= form.submit "Update", class: "btn-primary" %>
    <%= link_to "Cancel", app_settings_path, class: "btn-secondary" %>
  </div>
<% end %>
