<%= form_with url: app_settings_blog_path(@blog), model: @blog do |form| %>
  <% if @blog.user.subscribed? %>
  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Custom Domain</h3>
    <% if @blog.custom_domain.present? && @blog.errors[:custom_domain].empty? %>
      <p>
        Your Pagecord is now available at <code><mark class="bg-slate-100 dark:bg-slate-700 dark:text-slate-100 px-1"><%= @blog.custom_domain %></mark></code>
      </p>
    <% else %>
      <p>
        To set up a custom domain, enter it below and click Update. You'll need to configure your DNS first. See <a href="https://pagecord.com/faq#dns" class="font-medium underline">the FAQ</a> for details on how to do that.
      </p>
    <% end %>

    <fieldset>
      <%= styled_text_field(form, :custom_domain, placeholder: "yourdomain.com", class: "mt-4 md:w-96") %>
      <%= field_error(@blog, :custom_domain) %>
    </fieldset>

    <% if @blog.custom_domain.present? && @blog.errors[:custom_domain].empty? %>
      <p class="mt-2 text-slate-500 dark:text-slate-400 text-sm">
        To remove your custom domain, clear the box above and click Update. Don't forget to remove the records from your DNS!
      </p>
    <% end %>
  </div>
  <% end %>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Language</h3>
    <p>
      Choose the language for your email subscription form and other interface elements.
    </p>

    <fieldset>
      <%= render "language_select", form: form %>
      <%= field_error(@blog, :locale) %>
    </fieldset>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Search Engine Visibility</h3>
    <p>
      If your blog is on a custom domain, you can opt out of search engine indexing by checking the box below.
    </p>

    <p class="mt-4 text-slate-500 dark:text-slate-400">
      (Note: All blogs are configured to discourage AI crawlers)
    </p>

    <div class="mt-6">
      <div class="flex gap-3">
        <div class="flex h-6 shrink-0 items-center">
          <%= form.check_box :allow_search_indexing, { checked: @blog.allow_search_indexing, class: "form-checkbox h-5 w-5 text-slate-600 border-slate-300 rounded focus:ring focus:ring-slate-300" } %>
        </div>
        <div>
          <%= form.label :allow_search_indexing, "Allow search engines to index my blog", class: "text-slate-800 dark:text-slate-100" %>
          <p class="text-slate-500 text-sm">
            When unchecked, a <tt>/robots.txt</tt> endpoint wil discourage search engines from indexing your site. This only works
      for blogs using a custom domain at the moment, sorry.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Google Site Verification</h3>
    <p>
      If you need to add a Google Site Verification meta tag to your blog (e.g. for Google Search Console), enter the verification code below. This will appear in your blog HTML as <code class="text-sm bg-slate-100 dark:bg-slate-800">&lt;meta name="google-site-verification" content="YOUR_VERIFICATION_CODE" /&gt;</code>
    </p>

    <fieldset>
      <%= styled_text_field(form, :google_site_verification, placeholder: "e.g. Gzm-PA_FXh231_cgsIxY_h9OgR6r8DZ", class: "mt-4 md:w-full", data: { controller: "google-site-verification", action: "paste->google-site-verification#paste" }) %>
      <%= field_error(@blog, :google_site_verification) %>
    </fieldset>

    <% if @blog.google_site_verification.present? %>
      <p class="mt-2 text-slate-500 dark:text-slate-400 text-sm">
        To remove your Google site verification, clear the box above and click Update.
      </p>
    <% end %>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">SEO Blog Title</h3>
    <p>
      By default your blog name is used in the HTML title for search engines and social sharing. You can override this by entering a different title below.
    </p>

    <fieldset>
      <%= styled_text_field(form, :seo_title, placeholder: "e.g. #{@blog.display_name} - Personal Blog", class: "mt-4 md:w-full") %>
      <%= field_error(@blog, :seo_title) %>
    </fieldset>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Fediverse Author Attribution</h3>
    <p>
      To allow your Pagecord posts to be attributed to you when shared on Mastodon (or any other Fediverse platform), enter your
      Fediverse username below.
    </p>

    <%= styled_text_field(form, :fediverse_author_attribution, class: "mt-4 md:w-full") %>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2 mt-8">Blog Subdomain</h3>
    <p class="mb-4">
      Your current blog subdomain is <strong><%= persisted_value(@blog, :subdomain) %></strong> which means your blog is available at <span class="bg-slate-200 dark:bg-slate-700">https://<%= persisted_value(@blog, :subdomain) %>.pagecord.com</span>.
    </p>

    <div class="mb-4 p-3 bg-yellow-50 dark:bg-yellow-900/20 border border-yellow-200 dark:border-yellow-800 rounded-lg">
      <div class="flex items-start">
        <div class="flex-shrink-0">
<%= inline_svg_tag "icons/alert-triangle.svg", class: "h-5 w-5 text-yellow-600 dark:text-yellow-500" %>
        </div>
        <div class="ml-3">
          <p class="text-sm text-yellow-800 dark:text-yellow-200">
            <strong>Warning:</strong> Changing your blog subdomain changes the URL of your blog, so any links to your old blog URL will no longer work!
          </p>
        </div>
      </div>
    </div>

    <fieldset>
      <%= form.label :subdomain, "Subdomain", class: "sr-only" %>
      <div class="flex items-center">
        <%= styled_text_field(form, :subdomain, required: true, placeholder: "subdomain", maxlength: 20, class: "md:w-96") %>
      </div>
      <%= field_error(@blog, :subdomain) %>
    </fieldset>
  </div>

  <div class="mt-12 gap-x-2 flex items-center border-t border-t-slate-200 dark:border-slate-600 pt-4">
    <%= form.submit "Update", class: "btn-primary" %>
    <%= link_to "Cancel", app_settings_path, class: "btn-secondary" %>
  </div>
<% end %>
