<%= form_with url: app_settings_blog_path(@blog), model: @blog do |form| %>
  <% if @blog.user.subscribed? %>
  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Custom Domain</h3>
    <% if @blog.valid? && @blog.custom_domain.present? %>
      <p>
        Your Pagecord is now available at <code><mark class="bg-slate-100 dark:bg-slate-700 dark:text-slate-100 px-1"><%= @blog.custom_domain %></mark></code>
      </p>
    <% else %>
      <p>
        To set up a custom domain, enter it below and click Update. You'll need to configure your DNS first. See <a href="https://pagecord.com/faq#dns" class="font-medium underline">the FAQ</a> for details on how to do that.
      </p>
    <% end %>

    <%= form.text_field :custom_domain, class: "mt-4 w-96 dark:bg-slate-900 border #{@blog.errors[:custom_domain].any? ? 'border-red-500' : 'border-slate-300 dark:border-slate-700'} text-slate-800 dark:text-slate-200 rounded-lg" %>
    <% if @blog.errors[:custom_domain].any? %>
      <span class="text-red-500 text-sm"><%= @blog.errors.full_messages_for(:custom_domain).first %></span>
    <% end %>

    <% if @blog.valid? && @blog.custom_domain.present? %>
      <p class="mt-2 text-slate-500 dark:text-slate-400 text-sm">
        To remove your custom domain, clear the box above and click Update. Don't forget to remove the records from your DNS!
      </p>
    <% end %>
  </div>
  <% end %>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Search Engine Visibility</h3>
    <p>
      Control whether search engines like Google can index your blog.
    </p>

    <div class="mt-4 flex items-center">
      <%= form.check_box :allow_search_indexing, class: "h-4 w-4 rounded border-slate-300 dark:border-slate-700 text-slate-800 dark:text-slate-200" %>
      <span class="ml-2">Allow search engines to index my blog</span>
    </div>
    <p class="mt-2 text-slate-500 dark:text-slate-400 text-sm">
      When disabled, your blog will include instructions in robots.txt to discourage search engines from indexing it. Note that it's up to search engines whether they respect this setting.
    </p>
  </div>

  <div class="mt-8">
    <h3 class="font-bold text-lg mb-2">Fediverse Author Attribution</h3>
    <p>
      To allow your Pagecord posts to be attributed to you when shared on Mastodon (or any other Fediverse platform), enter your
      Fediverse username below.
    </p>

    <%= form.text_field :fediverse_author_attribution, class: "mt-4 w-full dark:bg-slate-900 border border-slate-300 dark:border-slate-700 text-slate-800 dark:text-slate-200 rounded-lg" %>
  </div>

  <div class="mt-12 flex items-center border-t border-t-slate-200 dark:border-slate-600 pt-4">
    <%= form.submit "Update", class: "btn-primary" %>
    <%= link_to "Cancel", app_settings_path, class: "btn-secondary" %>
  </div>
<% end %>
