<div class="digest">
  <% @posts.each do |post| %>
    <div class="post">
      <% if post.title %>
        <h2>
          <%= link_to post.title, post_url(post) %>
        </h2>
      <% end %>

      <div class="post-content">
        <%= without_action_text_image_wrapper(post.content.to_s).html_safe %>
      </div>
      <p class="post-timestamp">
        <%= link_to post.published_at_in_user_timezone.to_date.to_formatted_s(:long), post_url(post) %>
      </p>
    </div>
  <% end %>

  <hr>

  <p class="digest-footer">
    You're subscribed to receive new posts from <strong><%= @subscriber.blog.display_name %></strong>.
    <br><br>
    <%= link_to "Unsubscribe", email_subscriber_unsubscribe_url_for(@subscriber) %>
  </p>
</div>