<% content_for :robots_meta do %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<%= render "blogs/header", hide_email_form: true, hide_bio: true %>

<div class="form">
<%= form_with model: [@post, @reply],
          url: post_replies_path(@post),
          method: :post,
          scope: :reply,
          class: "p-2 sm:p-4 space-y-6" do |form| %>

  <%= hidden_field_tag :form_token, @form_token %>
  <%= render "/shared/spam_prevention" %>

  <div class="md:flex md:space-x-4 space-y-6 md:space-y-0">
    <div class="md:flex-1">
      <%= form.label :name, "Your Name", class: "block mb-1" %>
      <%= form.text_field :name, class: "block w-full rounded-md", required: true, autofocus: true %>
      <% if @reply.errors[:name].any? %>
        <span class="text-red-500 text-sm"><%= @reply.errors.full_messages_for(:name).first %></span>
      <% end %>
    </div>

    <div class="md:flex-1">
      <%= form.label :email, "Your Email", class: "block mb-1" %>
      <%= form.email_field :email, class: "block w-full rounded-md", required: true %>
      <% if @reply.errors[:email].any? %>
        <span class="text-red-500 text-sm"><%= @reply.errors.full_messages_for(:email).first %></span>
      <% end %>
    </div>
  </div>

  <div class="md:flex-1">
    <%= form.label :subject, "Subject", class: "block mb-1" %>
    <%= form.text_field :subject, class: "block w-full rounded-md", required: true %>
    <% if @reply.errors[:subject].any? %>
      <span class="text-red-500 text-sm"><%= @reply.errors.full_messages_for(:subject).first %></span>
    <% end %>
  </div>

  <div class="md:flex-1">
    <%= form.label :message, "Message", class: "block mb-1" %>
    <%= form.text_area :message, rows: 6, class: "block w-full rounded-md", required: true %>
    <% if @reply.errors[:message].any? %>
      <span class="text-red-500 text-sm"><%= @reply.errors.full_messages_for(:message).first %></span>
    <% end %>
  </div>

  <div class="flex">
    <%= form.submit "Send Reply", class: "btn-primary" %>
    <%= link_to "Cancel", post_path(@post), class: "btn-secondary" %>
  </div>
<% end %>
</div>