<% content_for :robots_meta do %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<%= render "blogs/header", hide_email_form: true, hide_bio: true %>

<div class="form">
<%= form_with model: [@post, @reply],
          url: post_replies_path(@post),
          method: :post,
          scope: :reply,
          data: { turbo: false },
          class: "form-container" do |form| %>

  <%= hidden_field_tag :form_token, @form_token %>
  <%= render "/shared/spam_prevention" %>

  <div class="form-row">
    <div class="form-field">
      <%= form.label :name, t('replies.form.name_label') %>
      <%= form.text_field :name, required: true, autofocus: true %>
      <% if @reply.errors[:name].any? %>
        <span class="form-error"><%= @reply.errors.full_messages_for(:name).first %></span>
      <% end %>
    </div>

    <div class="form-field">
      <%= form.label :email, t('replies.form.email_label') %>
      <%= form.email_field :email, required: true %>
      <% if @reply.errors[:email].any? %>
        <span class="form-error"><%= @reply.errors.full_messages_for(:email).first %></span>
      <% end %>
    </div>
  </div>

  <div class="form-field">
    <%= form.label :subject, t('replies.form.subject_label') %>
    <%= form.text_field :subject, required: true %>
    <% if @reply.errors[:subject].any? %>
      <span class="form-error"><%= @reply.errors.full_messages_for(:subject).first %></span>
    <% end %>
  </div>

  <div class="form-field">
    <%= form.label :message, t('replies.form.message_label') %>
    <%= form.text_area :message, rows: 6, required: true %>
    <% if @reply.errors[:message].any? %>
      <span class="form-error"><%= @reply.errors.full_messages_for(:message).first %></span>
    <% end %>
  </div>

  <div class="form-actions">
    <%= form.submit t('replies.form.submit_button'), class: "button" %>
    <%= link_to t('replies.form.cancel_link'), post_path(@post), class: "button btn-cancel" %>
  </div>
<% end %>
</div>
