<div class="post-card h-entry">
  <%= link_to post_path(post), class: "post-card-link u-url", data: { turbo_frame: "_top" } do %>
    <div class="post-card-content">
      <% if post.title.present? %>
        <h2 class="post-card-title p-name">
          <%= post.title %>
        </h2>
      <% end %>

      <div class="post-card-summary p-summary">
        <% if post.has_text_content? %>
          <%= post.summary(limit: 324) %>
        <% elsif post.first_image.present? %>
          <%= image_tag resized_image_url(post.first_image, width: 1600, height: 1200), alt: post.display_title %>
        <% else %>
          <%= post.content.to_plain_text.truncate(324) %>
        <% end %>
      </div>

      <div class="post-card-meta <%= post.tag_list.present? ? 'has-tags' : 'no-tags' %>">
        <%= local_time post.published_at, format: published_at_date_format, class: "post-card-date dt-published" %>
        <span class="post-card-badge">
          <%= t('posts.read_more') %>
        </span>
      </div>
    </div>
  <% end %>
</div>
