<%= turbo_frame_tag :posts do %>
  <div class="list-of-titles flex flex-col" data-turbo="false">
    <% previous_year = params[:last_visible_year]&.to_i %>
    <% @posts.each do |post| %>
      <% if post.published_at.year != previous_year %>
        <div class="text-lg font-semibold mb-2 <%= 'mt-6' unless previous_year.nil? %>">
          <%= local_time post.published_at, "%Y" %>

          <% previous_year = post.published_at.year %>
        </div>
      <% end %>

      <div class="flex gap-x-2 mb-1">
        <div class="text-[var(--color-text-tertiary)] w-16 flex-shrink-0">
          <%= local_time post.published_at, "%b %d" %>
        </div>
        <div class="text-[var(--color-text-heading)]">
          <%= link_to post_title(post), post_path(post), class: "font-medium hover:underline" %>
          <%= render "shared/tags", post: post, linkable: true, container_class: "flex flex-wrap gap-1 mt-1", tag_class: "inline-flex items-center px-1.5 py-0.5 text-xs font-medium bg-slate-100 text-slate-600 rounded hover:bg-slate-200 transition-colors dark:bg-slate-700 dark:text-slate-300 dark:hover:bg-slate-600" %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @pagy.next %>
    <%= turbo_frame_tag :posts, src: blog_home_path(@blog, page: @pagy.next, last_visible_year: previous_year), loading: :lazy %>
  <% end %>
<% end %>

