<article class="prose dark:prose-invert overflow-auto break-words">
  <%= render "post_title", post: post %>

  <%= render "post_content", post: post %>

  <div class="flex justify-between items-center my-4 text-slate-400 text-sm" title="<%= post.published_at.to_formatted_s(:long) %>">
    <%= link_to post_path(post), class: "no-underline my-4 text-slate-400 font-normal", data: { turbo_frame: "_top" } do %>
      <%= post.published_at.to_date.to_formatted_s(:long) %>
    <% end %>

    <% if @user.subscribed? %>
      <div class="flex items-center gap-x-1">
        <%= link_to new_post_reply_path_for(post),
                    title: "Reply to this post via email",
                    data: { turbo_frame: "_top" },
                    class: "flex" do %>
          <%= inline_svg_tag "icons/reply.svg", class: "cursor-pointer dark:text-slate-500 text-slate-300 hover:text-slate-400 w-5 h-5" %>
        <% end %>

        <%= turbo_frame_tag dom_id(post, :upvotes) do %>
          <%= render "upvotes", post: post %>
        <% end %>
      </div>
    <% end %>
  </div>
</article>
