<div class="post-footer not-prose flex justify-between items-center my-4 text-sm">
  <%= link_to post_path(post), class: "my-4 font-normal", data: { turbo_frame: "_top" } do %>
    <%= local_time post.published_at, published_at_date_format %>
  <% end %>

  <% if @user.subscribed? %>
    <div class="flex items-center gap-x-2">
      <% if @user.blog.reply_by_email %>
        <%= link_to new_post_reply_path(post),
                  title: "Reply to this post via email",
                  data: { turbo_frame: "_top" },
                  rel: "nofollow",
                  class: "flex" do %>
          <%= inline_svg_tag "icons/reply.svg", class: "icon cursor-pointer w-5 h-5" %>
        <% end %>
      <% end %>

      <% if @user.blog.show_upvotes? %>
        <%= turbo_frame_tag dom_id(post, :upvotes) do %>
          <%= render "upvotes", post: post %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render "shared/tags", post: post, linkable: true, container_class: "flex flex-wrap gap-2 mt-4", tag_class: "inline-flex items-center px-2 py-1 text-sm font-medium bg-slate-100 text-slate-700 rounded-md hover:bg-slate-200 transition-colors dark:bg-slate-800 dark:text-slate-300 dark:hover:bg-slate-700" %>
