<article class="mb-16 prose dark:prose-invert overflow-auto break-words">
  <%= render "post_title", post: post %>

  <%= render "post_content", post: post %>

  <div class="flex justify-between items-center my-4 text-slate-400 text-sm" title="<%= post.published_at.to_formatted_s(:long) %>">
    <%= link_to post_path(post), class: "no-underline my-4 text-slate-400 font-normal", data: { turbo_frame: "_top" } do %>
      <%= post.published_at.to_date.to_formatted_s(:long) %>
    <% end %>

    <% if @user.subscribed? %>
      <%= link_to new_post_reply_path_for(post),
                  title: "Reply to this post via email",
                  data: { turbo_frame: "_top" },
                  class: "flex" do %>
        <%= inline_svg_tag "icons/reply.svg", class: "cursor-pointer text-slate-400 hover:text-slate-600 dark:hover:text-slate-300 w-4 h-4" %>
      <% end %>
    <% end %>
  </div>
</article>
