<%= turbo_frame_tag :posts do %>
  <div class="posts-titles title_layout" data-turbo="false">
    <% previous_year = params[:last_visible_year]&.to_i %>
    <% @posts.each do |post| %>
      <% if post.published_at.year != previous_year %>
        <div class="year-header<%= ' has-previous' unless previous_year.nil? %>">
          <%= local_time post.published_at, "%Y" %>
        </div>
        <% previous_year = post.published_at.year %>
      <% end %>
      <div class="post-row">
        <%= local_time post.published_at.to_date, format: :month_day %>
        <%= link_to post.display_title, post_path(post), data: { turbo_prefetch: false } %>
      </div>
    <% end %>
  </div>

  <% if @pagy.next %>
    <%= turbo_frame_tag :posts, src: url_for(page: @pagy.next, last_visible_year: previous_year, host: request.host), loading: :lazy %>
  <% end %>
<% end %>

