<%= turbo_frame_tag :posts do %>
  <div class=" flex flex-col" data-turbo="false">
    <% previous_year = params[:last_visible_year]&.to_i %>
    <% @posts.each do |post| %>
      <% if post.published_at.year != previous_year %>
        <div class="text-lg font-semibold mb-2 <%= 'mt-6' unless previous_year.nil? %>">
          <%= local_time post.published_at, "%Y" %>

          <% previous_year = post.published_at.year %>
        </div>
      <% end %>

      <div class="flex gap-x-2 mb-1">
        <div class="text-[var(--color-text-muted)] w-16 flex-shrink-0">
          <%= local_time post.published_at.to_date, format: :month_day %>

        </div>
        <div class="text-[var(--color-text-heading)]">
          <%= link_to post_title(post), post_path(post), class: "font-medium hover:underline" %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @pagy.next %>
    <%= turbo_frame_tag :posts, src: blog_home_path(@blog, page: @pagy.next, last_visible_year: previous_year), loading: :lazy %>
  <% end %>
<% end %>

