<% if post.tag_list.present? %>
  <%= render "tags", post: post %>
<% end %>

<footer>
  <%= link_to post_path(post), class: "post-date u-url", data: { turbo_frame: "_top" } do %>
    <%= local_time post.published_at, format: published_at_date_format, class: "dt-published" %>
  <% end %>

  <% if @user.has_premium_access? %>
    <div class="post-actions">
      <% if @blog.reply_by_email %>
        <%= link_to new_post_reply_path(post),
                  title: "Reply to this post via email",
                  aria: { label: "Reply to this post via email" },
                  data: { turbo_frame: "_top" },
                  rel: "nofollow",
                  class: "reply-by-email" do %>
          <%= inline_svg_tag "icons/reply.svg", class: "icon" %>
        <% end %>
      <% end %>

      <% if @blog.show_upvotes? %>
        <%= render "upvotes", post: post %>
      <% end %>
    </div>
  <% end %>
</footer>
