<% top_margin = "mt-8" %>
<% if post.tag_list.present? %>
  <%= render "tags", post: post %>
  <% top_margin = "mt-4" %>
<% end %>

<div class="post-footer not-prose flex justify-between items-center <%= top_margin %> mb-4 text-sm">
  <%= link_to post_path(post), class: "font-normal", data: { turbo_frame: "_top" } do %>
    <%= l post.published_at.to_date, format: published_at_date_format %>
  <% end %>

  <% if @user.subscribed? %>
    <div class="flex items-center gap-x-2">
      <% if @user.blog.reply_by_email %>
        <%= link_to new_post_reply_path(post),
                  title: "Reply to this post via email",
                  data: { turbo_frame: "_top" },
                  rel: "nofollow",
                  class: "flex" do %>
          <%= inline_svg_tag "icons/reply.svg", class: "icon cursor-pointer w-5 h-5" %>
        <% end %>
      <% end %>

      <% if @user.blog.show_upvotes? %>
        <%= turbo_frame_tag dom_id(post, :upvotes) do %>
          <%= render "upvotes", post: post %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
