<%= render "blogs/header" %>

<% if @posts.empty? %>
  <div class="empty-state">
    <% if @current_tag.present? %>
      <p>No posts found with the tag "<%= @current_tag %>" ✨</p>
      <p>
        <%= link_to "View all posts", blog_home_path(@blog), class: "empty-state-link" %>
      </p>
    <% else %>
      <p>Nothing to read on this blog yet ✨</p>
      <p>
        To be notified of new posts, subscribe to the
        <%= link_to "RSS feed", rss_feed_url(@blog), class: "empty-state-link" %>
      </p>
    <% end %>
  </div>
<% else %>
  <% if @current_tag.present? %>
    <div class="tag-filter-notice">
      <p>Posts tagged with "<strong><%= @current_tag %></strong>"</p>
      <p class="tag-filter-notice-links">
        <%= link_to "Show all posts", blog_posts_list_path, class: "tag-filter-notice-link tag-filter-clear" %>
        <span>&middot;</span>
        <%= link_to "RSS feed for #{@current_tag} posts", rss_feed_url(@blog, tag: @current_tag), class: "tag-filter-notice-link tag-filter-rss" %>
      </p>
    </div>
  <% end %>

  <div class="<%= @blog.layout %>">
    <%= render @blog.layout %>
  </div>
<% end %>

<%= render 'shared/analytics_tracking' %>
