<% if @blog.social_links.mastodon.any? %>
  <%= content_for :fediverse do %>
    <link href="<%= @blog.social_links.mastodon.first.url %>" rel="me">
  <% end %>
<% end %>

<%= render "blogs/header" %>

<% if @posts.empty? %>
  <div class="empty-state">
    <% if @current_tag.present? %>
      <p>No posts found with the tag "<%= @current_tag %>" ✨</p>
      <p>
        <%= link_to "View all posts", blog_home_path(@blog), class: "empty-state-link" %>
      </p>
    <% else %>
      <p>Nothing to read on this blog yet ✨</p>
      <p>
        To be notified of new posts, subscribe to the
        <%= link_to "RSS feed", rss_feed_url(@blog), class: "empty-state-link" %>
      </p>
    <% end %>
  </div>
<% else %>
  <% if @current_tag.present? %>
    <div class="tag-filter-notice">
      <div class="tag-filter-notice-text">
        Showing posts tagged with "<strong><%= @current_tag %></strong>"
      </div>
      <div class="tag-filter-notice-actions">
        <%= link_to "Show all posts", blog_home_path(@blog), class: "tag-filter-clear-link" %>
      </div>
    </div>
  <% end %>

  <div class="<%= @blog.layout %>">
    <%= render @blog.layout %>
  </div>
<% end %>

<%= render 'shared/analytics_tracking' %>
