<%= render "blogs/header" %>

<% if @posts.empty? %>
  <p class="text-center">
    Nothing to read on this blog yet ✨
  </p>
  <p class="mt-4 text-center">
    To be notified of new posts, subscribe to the
    <%= link_to "RSS feed", blog_posts_path(name: @blog.name, format: :rss),
        class: "font-semibold underline" %>
  </p>
<% else %>
  <%= turbo_frame_tag :posts do %>
    <div data-controller="media-embeds">
      <%= render partial: "post_without_upvotes", collection: @posts, as: :post %>
    </div>

    <% if @pagy.next %>
      <% if custom_domain_request? %>
        <%= turbo_frame_tag :posts, src: custom_blog_posts_path(page: @pagy.next), loading: :lazy %>
      <% else %>
        <%= turbo_frame_tag :posts, src: blog_posts_path(name: @blog.name, page: @pagy.next), loading: :lazy %>
      <% end%>
    <% end %>
  <% end %>
<% end %>
