<% unless @blog.fediverse_author_attribution.blank? %>
  <%= content_for :fediverse do %>
    <meta name="fediverse:creator" content="<%= @blog.fediverse_author_attribution %>" />
  <% end %>
<% end %>

<%= render "blogs/header", hide_email_form: true, hide_bio: true %>

<div data-controller="media-embeds">
<%= render @post %>
</div>

<%= render "blogs/email_subscriber_form" if @post.post? %>
