<header class="bg-white dark:bg-slate-800 border-b border-slate-200 dark:border-slate-700 mb-8">
  <div class="container mx-auto px-5">
    <div class="flex items-center justify-between py-4">
      <%= link_to app_root_path do %>
        <%= inline_svg_tag "logo.svg", class: "w-[100px] inline-flex dark:text-slate-100 text-slate-900" %>
      <% end %>
      
      <nav class="flex space-x-4">
        <%= link_to "Blogs", admin_blogs_path, class: "text-sm font-semibold hover:underline text-slate-900 dark:text-slate-100 #{'home-link' if controller_name == 'blogs'}" %>
        <%= link_to "Posts", admin_posts_path, class: "text-sm font-semibold hover:underline text-slate-900 dark:text-slate-100 #{'home-link' if controller_name == 'posts'}" %>
        <%= link_to "Analytics", admin_analytics_path, class: "text-sm font-semibold hover:underline text-slate-900 dark:text-slate-100 #{'home-link' if controller_name == 'analytics'}" %>
      </nav>
    </div>
  </div>
</header>
