<footer class="w-full text-center p-8 text-sm text-slate-400 dark:text-slate-500">
  <div class="flex flex-col md:flex-row md:gap-x-4 gap-y-4 justify-center">
    <%= link_to "Log In", login_path, class: "hover:underline font-semibold" %>

    <div class="flex gap-x-4 justify-center items-center">
      <%= link_to "FAQ", faq_path %>
      <%= mail_to "hello@pagecord.com", "Contact" %>
      <%= link_to "Terms", terms_path %>
      <%= link_to "Privacy", privacy_path %>
      <%= link_to "Github", "https://github.com/lylo/pagecord" %>
      <%= link_to "https://bsky.app/profile/pagecord.com" do %>
        <%= inline_svg_tag "icons/bluesky.svg", class: "w-4 h-4 hover:text-[#1185fe]", title: "Follow Pagecord on Bluesky" %>
      <% end %>
    </div>
  </div>

  <%= link_to root_path do %>
    <%= inline_svg_tag "logo.svg", class: "w-[100px] mt-8 inline-flex dark:text-slate-100 text-slate-900" %>
  <% end %>
</footer>
