<title>
<%= page_title %>
</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<meta name="description" content="<%= meta_description %>">
<meta name="keywords" content="blogging, writing, publishing">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://pagecord.com/">
<meta property="og:title" content="Pagecord">
<meta property="og:description" content="<%= meta_description %>">
<meta property="og:image" content="<%= image_url "social/open-graph.png" %>">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://pagecord.com/">
<meta property="twitter:title" content="Pagecord">
<meta property="twitter:description" content="<%= meta_description %>">
<meta property="twitter:image" content="<%= image_url "social/twitter-card.png" %>">

<%= render "layouts/rss" %>

<%= render "layouts/favicons" %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= javascript_importmap_tags %>

<script defer data-domain="pagecord.com" src="https://plausible.io/js/script.js"></script>
