    <title>
    Pagecord
    <% if @user&.username %>
        | @<%= @user.username %>
    <% elsif content_for?(:title) %>
        | <%= yield :title %>
    <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="description" content="Pagecord is a super-simple, minimialist blogging app. All you need is an email address to publish your writing online.">
    <meta name="keywords" content="blogging, writing, publishing">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pagecord.com/">
    <meta property="og:title" content="Pagecord">
    <% if @post %>
    <meta property="og:description" content="<%= strip_tags(@post.content).gsub(/\n/, ' ').squeeze(' ').truncate(280) %>">
    <% else %>
    <meta property="og:description" content="Publish your writing online using only your email">
    <% end %>
    <meta property="og:description" content="Publish your writing online using only your email">
    <meta property="og:image" content="<%= image_url "social/open-graph.png" %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://pagecord.com/">
    <meta property="twitter:title" content="Pagecord">
    <% if @post %>
    <meta property="twitter:description" content="<%= strip_tags(@post.content).gsub(/\n/, ' ').squeeze(' ').truncate(280) %>">
    <% else %>
    <meta property="twitter:description" content="Publish your writing online using only your email">
    <% end %>
    <meta property="twitter:image" content="<%= image_url "social/twitter-card.png" %>">


    <%= render "layouts/favicons" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script defer data-domain="pagecord.com" src="https://plausible.io/js/script.js"></script>
