<meta charset="utf-8">
<title>
<%= page_title %>
</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<meta name="description" content="<%= meta_description %>">
<meta name="keywords" content="writing, publishing, blog, blogging platform, microblogging, journalling, publish by email, journal by email, simple blogging, minimalist blogging, writing by email, blogging by email, email to blog post">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="<%= page_type %>">
<meta property="og:url" content="<%= request.original_url %>">
<meta property="og:title" content="<%= page_title %>">
<meta property="og:description" content="<%= meta_description %>">

<meta property="twitter:url" content="<%= request.original_url %>">
<meta property="twitter:title" content="<%= page_title %>">
<meta property="twitter:description" content="<%= meta_description %>">

<% if has_open_graph_image? %>
  <meta property="og:image" content="<%= open_graph_image %>">
  <meta property="twitter:image" content="<%= open_graph_image %>">
  <meta property="twitter:card" content="summary_large_image">
<% else %>
  <meta property="twitter:card" content="summary">
<% end %>

<link rel="canonical" href="<%= canonical_url %>" />

<%= render "layouts/rss" %>

<%= render "layouts/favicons" %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= javascript_importmap_tags %>

<% if prevent_indexing? %>
<meta name="robots" content="noindex, nofollow">
<% end %>

<script defer data-domain="pagecord.com" src="https://plausible.io/js/script.js"></script>
