<meta charset="utf-8">
<title>
<%= page_title %>
</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<meta name="description" content="<%= meta_description %>">
<meta name="keywords" content="open-source blog, email-first publishing, no-code blogging, privacy-first platform, exportable blog, minimalist blogging"/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="<%= page_type %>">
<meta property="og:url" content="<%= request.original_url %>">
<meta property="og:title" content="<%= page_title %>">
<meta property="og:description" content="<%= meta_description %>">

<meta property="twitter:url" content="<%= request.original_url %>">
<meta property="twitter:title" content="<%= page_title %>">
<meta property="twitter:description" content="<%= meta_description %>">

<% if has_open_graph_image? %>
  <meta property="og:image" content="<%= open_graph_image %>">
  <meta property="twitter:image" content="<%= open_graph_image %>">
  <meta property="twitter:card" content="summary_large_image">
<% else %>
  <meta property="twitter:card" content="summary">
<% end %>

<!-- Structured Data (JSON‑LD) -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "https://pagecord.com/",
  "name": "Pagecord",
  "description": "<%= meta_description %>",
  "publisher": {
    "@type": "Organization",
    "name": "Pagecord",
    "url": "https://pagecord.com/"
  }
}
</script>
<%= yield :fediverse %>

<link rel="canonical" href="<%= canonical_url %>" />

<%= render "layouts/rss" %>

<%= render "layouts/favicons" %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag "tailwind", "inter", "lora", "data-turbo-track": "reload" %>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= javascript_importmap_tags %>

<% if prevent_indexing? %>
<meta name="robots" content="noindex, nofollow">
<% end %>

<script defer data-domain="pagecord.com" src="https://plausible.io/js/script.js"></script>
