    <title>
    <% if @user %>
        Pagecord | @<%= @user.username %>
    <% else %>
        Pagecord
    <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="description" content="Pagecord is a super-simple, minimialist blogging app. All you need is an email address to publish your writing online.">
    <meta name="keywords" content="blogging, writing, publishing">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pagecord.com/">
    <meta property="og:title" content="Pagecord">
    <meta property="og:description" content="Publish your writing online using only your email">
    <meta property="og:image" content="https://pagecord.com/images/social/open-graph.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://pagecord.com/">
    <meta property="twitter:title" content="Pagecord">
    <meta property="twitter:description" content="Publish your writing online using only your email">
    <meta property="twitter:image" content="https://pagecord.com/images/social/twitter-card.png">


    <%= render "layouts/favicons" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script defer data-domain="pagecord.com" src="https://plausible.io/js/script.js"></script>
