<!DOCTYPE html>
<html>
  <head>
    <title>Pagecord</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen bg-white dark:bg-slate-900">
    <header>
      <nav class="flex justify-between p-4">
        <div class="font-bold text-slate-950 dark:text-slate-50 tracking-tight">
          <%= link_to "📄 Pagecord", root_path %>
        </div>
        <div class="text-end font-bold text-slate-950 dark:text-slate-50">
          <%= link_to "@#{@user.username}", user_posts_path(@user.username) %>
        </div>
      </nav>
    </header>
    <main class="container mx-auto px-5 flex flex-grow">
      <%= yield %>
    </main>

    <footer class="p-8 flex justify-center text-sm text-slate-400 dark:text-slate-500">
      <div>
        <span>Terms</span>
        <span class="ms-4">Privacy</span>
        <span class="ms-4">Contact</span>
      </div>
    </footer>
  </body>
</html>
