<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="flex flex-col min-h-screen <%= font_class %>" <%= theme_data_attribute %>>
    <main class="container mx-auto px-5 flex flex-grow">
      <div class="<%= content_width_class %> w-full mx-auto">
        <%= yield %>
      </div>
    </main>

    <footer class="w-full flex flex-col text-center p-8 text-sm">
      <% unless custom_domain_request? %>
        <%= link_to root_path do %>
          <%= inline_svg_tag "logo.svg", class: "w-[100px] mt-8 inline-flex" %>
        <% end %>
      <% end %>
    </footer>
  </body>
</html>
