<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="flex flex-col min-h-screen <%= font_class %>" <%= theme_data_attribute %>>
    <main class="flex flex-grow items-center justify-center px-5">
      <div class="w-full max-w-md">
        <%= render "blogs/flash" %>

        <%= yield %>
      </div>
    </main>

    <footer class="w-full flex flex-col text-center p-8 text-sm text-slate-400 dark:text-slate-500">
      <% if @blog&.show_branding? %>
        <%= link_to "https://pagecord.com", id: "brand", aria: { label: "Pagecord Home" } do %>
          <%= inline_svg_tag "logo.svg", class: "w-[100px] mt-8 inline-flex dark:text-slate-100 text-slate-900" %>
        <% end %>
      <% end %>
    </footer>
  </body>
</html>
