<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="flex flex-col min-h-screen bg-white dark:bg-slate-900">
    <header>
      <nav class="p-4">
        <div class="font-bold text-slate-950 text-xl dark:text-slate-50 tracking-tight">
          <%= link_to "📄 Pagecord", root_path %>
        </div>
      </nav>
    </header>
    <main class="container mx-auto px-5 flex flex-grow">
      <div class="w-[48rem] mx-auto mt-24 text-slate-950 dark:text-slate-50">
        <%= yield %>
      </div>
    </main>

    <footer class="p-8 flex justify-center text-sm text-slate-400 dark:text-slate-500">
      <div>
        <%= link_to "Terms", terms_path %>
        <%= link_to "Privacy", privacy_path, class: "ms-4" %>
        <%= mail_to "hello@pagecord.com", "Contact", class: "ms-4" %>
      </div>
    </footer>
  </body>
</html>
