<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="flex flex-col min-h-screen bg-white dark:bg-slate-900">
    <main class="container mx-auto px-4 flex flex-grow flex-col text-slate-950 dark:text-slate-50">
      <div class="max-w-2xl w-full mx-auto mt-4">
        <%= render "app/shared/flash" %>
        <%= render "layouts/header" %>

        <div class="mt-12">
        <%= yield %>
        </div>
      </div>
    </main>

    <%= render "layouts/footer" %>
   </body>
</html>
