<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? content_for(:title) : "Pagecord" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render "layouts/default_favicons" %>
    <%= render "layouts/manifest" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "home" %>
  </head>

  <body class="flex flex-col min-h-screen bg-white dark:bg-slate-900">
    <main class="container mx-auto px-4 flex flex-grow flex-col text-slate-950 dark:text-slate-50">
      <div class="max-w-2xl w-full mx-auto mt-4">
        <%= render "app/shared/flash" %>

        <header>
          <nav class="py-4 flex justify-between items-center text-slate-900 dark:text-slate-100 font-medium">
            <div>
              <%= link_to root_path do %>
                <%= inline_svg_tag "logo.svg", class: "w-46 dark:text-slate-100 text-slate-900" %>
              <% end %>
            </div>

            <div class="text-sm inline-block border border-slate-200 text-slate-500 dark:text-slate-400 hover:text-slate-800 hover:dark:text-slate-300 dark:border-slate-500 rounded-lg px-2 py-1 hover:bg-slate-100 hover:dark:bg-slate-700 text-center">
                <% if request.path.start_with?("/signups") %>
                <%= link_to "Log In", login_path %>
              <% else %>
                <%= link_to "Sign Up", new_signup_path %>
              <% end %>
            </div>
          </nav>
        </header>

        <div class="mt-12">
        <%= yield %>
        </div>
      </div>
    </main>

    <%= render "layouts/footer" %>
   </body>
</html>
